.box {
    position: relative;
    height: 450px;
    overflow: hidden;
}
.jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    animation: bgAnime 25s infinite;
}

.top {
    &-img {
        background-image: url("../../public/images/junkshop-top.jpeg");
        background-size: cover;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation-delay: 0s;
        position: absolute;
        &-text {
            font-size: 40px;
            font-weight: bold;
            letter-spacing: 3px;
        }
    }
    &-img2 {
        background-image: url("../../public/images/junkshop-top2.jpeg");
        background-size: cover;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation-delay: 5s;
    }
    &-img3 {
        background-image: url("../../public/images/junkshop-top3.jpeg");
        background-size: cover;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation-delay: 10s;
    }
    &-img4 {
        background-image: url("../../public/images/junkshop-top4.jpeg");
        background-size: cover;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation-delay: 15s;
    }
    &-img5 {
        background-image: url("../../public/images/junkshop-top5.jpeg");
        background-size: cover;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation-delay: 20s;
    }
    &-img6 {
        background-image: url("../../public/images/junkshop-top6.jpeg");
        background-size: cover;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation-delay: 25s;
    }
    &__title {
        font-size: 32px;
        color: #4a4a4a;
        letter-spacing: 2px;
        padding: 20px 0 40px;
    }
}
@keyframes bgAnime {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    27% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.card {
    &-product-name {
        padding: 12px;
    }
    &-quantity {
        padding: 12px;
    }
    &__total-price {
        padding: 12px;
    }
    &__btn-trash {
        padding: 12px;
    }
    &:hover {
        transform: scale(1.01);
        transition-duration: 0.5s;
    }
    &-img {
        height: 440px;
        background-size: cover;
    }
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-img {
        height: 500px;
        margin-top: 40px;
    }
    &-cart-img {
        height: 120px;
        width: 80px;
    }
    &__content-header {
        padding: 40px 0 40px;
    }
    &__name {
        font-size: 32px;
        color: #4a4a4a;
        letter-spacing: 2px;
        margin-bottom: 4px;
    }
    &__price {
        font-size: 12px;
        color: #4a4a4a;
        letter-spacing: 1px;
    }
    &__quantity {
        padding: 24px 0 12px;
        input {
            width: 100%;
        }
    }
    &__btn-add-cart {
        padding: 12px 0 12px;
    }
}

.cart {
    &-wrapper {
        width: 720px;
        margin: 20px;
        .card-body {
            display: flex;
            align-items: center;
        }
    }
    &__title {
        font-size: 24px;
        color: #4a4a4a;
        letter-spacing: 1px;
        margin: 20px 0 20px;
    }
    &__sub-total {
        font-size: 16px;
        color: #4a4a4a;
        letter-spacing: 1px;
    }
    &__empty {
        font-size: 16px;
        color: #4a4a4a;
        letter-spacing: 1px;
    }
}

.col-lg-4,
.col-md-6 {
    margin-bottom: 24px;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.title {
    width: 50px;
}

@media (max-width: 600px) {
    .top {
        &-img {
            background-image: url("../../public/images/junkshop-top.jpeg");
            height: 300px;
        }
    }
}

@media (max-width: 760px) {
    .card {
        &-img {
            height: auto;
            max-height: 700px;
        }
    }
}
